extends layout
block content
  .overlay
    .speaker.speakerplay
    audio#player(src="/video/waitingroom.mp3" autoplay loop)
    br
    .content-w3ls.agileits
      img.user-wthree(src='/stylesheets/images/KoreanPokerMain.png', alt='')
      .form-group1-agile.agile-info
      h4 온라인 섯다 게임
      a.face-link(href='/auth/facebook')
        i.fa.fa-facebook(aria-hidden='true')
        |  Facebook
      a.kakao-link(href='/auth/kakao')
        //- i.fa.fa-kakao(aria-hidden='true')
        //- |  Kakao
        img(src='/stylesheets/images/kakao.png', alt='')
    .footer-w3ls.w3-agile
      //- p.w3-agileits
      //-   | © 2017 Proficient Login Form. All Rights Reserved | Design by 
      //-   a(href='https://w3layouts.com/', target='_blank') w3layouts
  video#video-background(autoplay='', loop='', muted='')
    source(src='/video/KoreanPoker.mp4', type='video/mp4')
  //audio(src="/video/background.mp3" autoplay loop)
  // js
  script(src='javascripts/modernizr.min.js').
  script(src='/javascripts/audio.js').
