doctype html
html(lang='ko')
  head
    title 온라인 섯다 게임
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, , maximum-scale=1')
    //if lte IE 8
    script(src='/javascripts/ie/html5shiv.js')
    //- link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    //if lte IE 8
      //- link(rel='stylesheet', href='/stylesheets/ie8.css')
      // Scripts
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.scrolly.min.js')
    script(src='/javascripts/jquery.poptrox.min.js')
    //- script(src='/javascripts/skel.min.js')
    //- script(src='/javascripts/util.js')
    //- script(src='/javascripts/main.js')  
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    //if lte IE 8
    script(src='/javascripts/ie/respond.min.js')
  body
    //- block top-nav
    //-   include ./includes/topnav
    block content
