extends layout
block content

    .main
      h1
      .w3_agile_main_grids
        .agile_main_grid
          .agileits_w3layouts_main_grid_left
            .wthree_main_grid.agileinfo_main_grid
              .w3ls_main_grid
                .agileits_main_grid_left
                  .agileits_main_grid_leftl
                    h3
                      | 방제목
                  .agileits_main_grid_leftr
                    h3 섯다 한판
                  .clear  
                //- .agileits_main_grid_right
                .agileits_main_grid
                  form(action='#', method='post')
                    input(type='submit', value='입장')
                .clear  
              .w3l_main_grid_list
                ul#owl-demo.owl-carousel.owl-theme
                  li 
                    h2 배팅액 : 1만원
                ul#owl-demo3.owl-carousel.owl-theme
                  li 
                    h2 참가인원 : 4명
                ul#owl-demo3.owl-carousel.owl-theme
                  li 
                    h2 참가자 : 
                  li 
                    .w3layouts_icon
                      img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
                  li 
                    .w3layouts_icon
                      img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
                  li 
                    .w3layouts_icon
                      img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
                  
          .w3_agileits_main_grid_right
            .wthree_main_grid.agileinfo_main_grid1
              .w3ls_main_grid
                .agileits_main_grid_left
                  .agileits_main_grid_leftl
                    h3
                      | 방제목
                  .agileits_main_grid_leftr
                    h3 ㄱㄱ
                  .clear  
                //- .agileits_main_grid_right
                .agileits_main_grid
                  form(action='#', method='post')
                    input(type='submit', value='입장')
                .clear  
              .w3l_main_grid_list
                ul#owl-demo1.owl-carousel.owl-theme
                  li
                    h2 배팅액 : 5만원
                ul#owl-demo3.owl-carousel.owl-theme
                  li 
                    h2 참가인원 : 2명
                ul#owl-demo3.owl-carousel.owl-theme
                  li 
                    h2 참가자 : 
                  li 
                    .w3layouts_icon
                      img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
                  li 
                    .w3layouts_icon
                      img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
                  li 
                    .w3layouts_icon
                      img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
                  
          .clear  
        .w3_agile_main_gridsub
          .agileits_w3layouts_main_grid_left
            .wthree_main_grid.agileinfo_main_grid2
              .w3ls_main_grid
                .agileits_main_grid_left
                  .agileits_main_grid_leftl
                    h3
                      | 방제목
                  .agileits_main_grid_leftr
                    h3 ㄲ
                  .clear  
                //- .agileits_main_grid_right
                .agileits_main_grid
                  form(action='#', method='post')
                    input(type='submit', value='입장')
                .clear  
              .w3l_main_grid_list
                ul#owl-demo3.owl-carousel.owl-theme
                  li 
                    h2 배팅액 : 10만원
                ul#owl-demo3.owl-carousel.owl-theme
                  li 
                    h2 참가 인원 : 3명
                ul#owl-demo3.owl-carousel.owl-theme
                  li 
                    h2 참가자 : 
                  li 
                    .w3layouts_icon
                      img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
                  li 
                    .w3layouts_icon
                      img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
                  li 
                    .w3layouts_icon
                      img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
                
          .w3_agileits_main_grid_right
            .wthree_main_grid.agileinfo_main_grid3
              .w3ls_main_grid
                .agileits_main_grid_left
                  .agileits_main_grid_leftl
                    h3
                      | 방제목
                  .agileits_main_grid_leftr
                    h3 ㄲㄲㄲ
                  .clear  
                //- .agileits_main_grid_right
                .agileits_main_grid
                  form(action='#', method='post')
                    input(type='submit', value='입장')
                .clear  
              .w3l_main_grid_list
                ul#owl-demo4.owl-carousel.owl-theme
                  li 
                    h2 배팅액 : 100만원
                ul#owl-demo4.owl-carousel.owl-theme    
                  li
                    h2 참가 인원 : 4명
                ul#owl-demo3.owl-carousel.owl-theme
                  li 
                    h2 참가자 : 
                  li 
                    .w3layouts_icon
                      img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
                  li 
                    .w3layouts_icon
                      img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
                  li 
                    .w3layouts_icon
                      img.w3_img_responsive(src='/stylesheets/images/image1.png', alt=' ')
                  
          .clear  
          
          //- video#video-background(autoplay='', loop='', poster='/video/koreanPoker.jpg', muted='')
          //-   source(src='/video/koreanPoker.mp4', type='video/mp4')
    // js
    script(src='js/jquery-2.2.3.min.js').
    script(src='js/owl.carousel.js').
    script.
      $(document).ready(function() {
      $("#owl-demo,#owl-demo1,#owl-demo3,#owl-demo4").owlCarousel({
      autoPlay: 3000, //Set AutoPlay to 3 seconds
      items : 4,
      itemsDesktop : [768,3],
      itemsDesktopSmall : [414,2]
      });
      });
    // //js
