.container
  div
    textarea#chatLog.chat_log(readonly='',  style="width: 80%; height: 100px; color:black;")
  form#chat
    //- input#userName.name(type='text', readonly='', style="width: 10%;")=currentUser.userName
    if(currentUser)
      h5#userName(style="width: 80%; color:black;")=currentUser.userName
    else
      h5#userName(style="width: 80%;")= room.connUsers[room.connUsers.length-1].userName
    input#message.message(type='text',style="width: 80%;")
