.arrow_box
  div
    textarea#chatLog.chat_log(readonly=true)
  form#chat
    //- input#userName.name(type='text', readonly='', style="width: 10%;")=currentUser.userName
    input#message.message(type='text')