.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
      
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
      a.navbar-brand(href='/') 
        i.fa.fa-home
      
        span.sr-only Toggle navigation
        span.icon.icon-bar
        span.icon.icon-bar
        span.icon.icon-bar
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        if(!currentUser)
          li
            a.smoothScroll(href='/auth/facebook') 로그인
        else
          li
            a.smoothScroll(href='/user/logout') 로그아웃
        li
          a.smoothScroll(href='/game') 목록          

        
