.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon.icon-bar
        span.icon.icon-bar
        span.icon.icon-bar
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        if(!currentUser)
          li
            a.smoothScroll(href='/auth/facebook') 로그인
        else
          li
            a.smoothScroll(href='/user/logout') 로그아웃
        
