extends ../layout

block content
  .container
    h1.page-header Room List
    br
    .row
      each room in rooms
        .col-sm-6.col-md-3
          .thumbnail
            .caption
              h2.Thumbnail= room.roomName
              h3.Thumbnail= room.connUser.length 
              p
                span= room.state
              p 
                a.btn.btn-primary(href="#" role="button") 상세 보기
                a.btn.btn-default(href="#" role="button") 후기 보기
    a.btn.btn-primary(href='#') 숙소 등록하기
