extends ../layout

block content
  .container
  .content-w3ls.agileits
    h1.page-header 방만들기
        
    form(action = "/game", method='POST')
      .form-group
        label(for='roomName') 방 이름
        input.form-control(type='text', id='roomName', name='roomName', placeholder='')
        label(for='roomMoney') 판돈
          select.form-control(name="roomMoney")
            option(value="10000" selected="selected") 10000
            option(value="100000") 100000
            option(value="1000000") 1000000
            option(value="1000000") 10000000
        br
        label(for='roomUserNumber') 참여인원
          select.form-control(name="roomUserNumber")
            option(value="4" selected="selected") 4
            option(value="3") 3
            option(value="2") 2
      .form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 완료

  audio(src="/video/waitingroom.mp3" autoplay loop)