extends ../layout

block content
  .container
    h1.page-header 방만들기
        
    form(action = "/game", method='POST')
      .form-group
        label(for='roomName') 방 이름
        input.form-control(type='text', id='roomName', name='roomName', placeholder='ROOM NAME')
        label(for='roomMoney') 판돈
        input.form-control(type='text', id='roomMoney', name='roomMoney', placeholder='판돈')
      .form-actions
        a.btn.btn-default(href='javascript:window.history.back();') 뒤로 
        | 
        button.btn.btn-primary(type='submit') 완료
