extends ../layout

block content
  section#main-slider.no-margin
    .carousel.slide           
        .carousel-inner
          .item.active(style='background-image: url(/images/3.jpeg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 로그인
                      | 
                    |                                     
                    h2.animation.animated-item-2 facebook, kakao 중에 내가 원하는 것을 선택해서 로그인!!
                |                             
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='/images/menual/1.png')
          .item(style='background-image: url(/images/3.jpeg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 방 목록
                    |                                     
                    h2.animation.animated-item-2
                      | 대기방에서 다른 유저와 대화, 또는 만들어진 방을 입장, 아니면 내가 직접 배팅금을 설정하고 방을 만들기 위한 선택
                |                             
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='/images/menual/2.png')
          .item(style='background-image: url(/images/3.jpeg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 방 만들기
                    |                                     
                    h2.animation.animated-item-2 내가 원하는 인원수를 정하고, 내가 원하는 배팅금을 설정하여 섯다 한판~
                |                             
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='/images/menual/3.png')
          .item(style='background-image: url(/images/3.jpeg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 입장
                    |                                     
                    h2.animation.animated-item-2 입장을 하면 이런 화면을 보인다. 그리고 준비하기 버튼을 눌러 게임을 준비, 설정한 인원이 다 준비하기를 누르면 게임은 시작
                |                             
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='/images/menual/4.png')
          .item(style='background-image: url(/images/3.jpeg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 시작
                    |                                     
                    h2.animation.animated-item-2 처음 패 2장을 분배 후 자신이 공개하고 싶은 패를 선택, 그러면 15초 후에 공개가 된다.
                |                             
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='/images/menual/5.png')
          .item(style='background-image: url(/images/3.jpeg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content 
                    h1.animation.animated-item-1 배팅
                    |                                     
                    h2.animation.animated-item-2 15초 후에 패가 공개가 되고 배팅을 시작한다. 
                    h3.animation.animated-item-2 콜은 판돈만큼 배팅하고 끝내기를 선언
                    h3.animation.animated-item-2 하프는 판돈만큼 배팅하고 계속 진행
                    h3.animation.animated-item-2 따당은 판돈의 2배를 배팅
                    h3.animation.animated-item-2 삥은 배팅금 만큼만 배팅
                    h3.animation.animated-item-2 체크는 돈을 안걸고 끝내기를 선언
                |                             
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='/images/menual/6.png')
          .item(style='background-image: url(/images/3.jpeg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 마지막장 분출
                    |                                     
                    h2.animation.animated-item-2 일정인원이 콜,체크를 하면 마지막 장을 분출한다
                |                             
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='/images/menual/7.png')
          .item(style='background-image: url(/images/3.jpeg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 배팅
                    |                                     
                    h2.animation.animated-item-2 마지막장을 분출하면 한번 더 배팅을 시작한다.
                |                             
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='/images/menual/8.png')
          .item(style='background-image: url(/images/3.jpeg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 최종 선택
                    |                                     
                    h2.animation.animated-item-2 아까와 마찬가지로 일정 이상 콜,체크를 하면 최종 선택을 할 수 있다. 3가자의 경우중에 선택
                |                             
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='/images/menual/9.png')
          .item(style='background-image: url(/images/3.jpeg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 최종 선택후
                    |                                     
                    h2.animation.animated-item-2 선택을 하면 카드가 사라지고 다른 인원의 선택을 대기 해야한다.
                |                             
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='/images/menual/10.png')
          .item(style='background-image: url(/images/3.jpeg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 경기 끝나고 재시작
                    |                                     
                    h2.animation.animated-item-2 재시작을 원하면 확인, 아니면 취소를 선택한다.
                |                             
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='/images/menual/11.png')
          .item(style='background-image: url(/images/3.jpeg)')
            .container
              .row.slide-margin
                .col-sm-6
                  .carousel-content
                    h1.animation.animated-item-1 DIE
                    |                                     
                    h2.animation.animated-item-2 경기 중 자신의 패가 맘에 들지 않으면 죽는다. 그러면 패가 모두 몰수 되고 대기 하게 된다.
                |                             
                .col-sm-6.hidden-xs.animation.animated-item-4
                  .slider-img
                    img.img-responsive(src='/images/menual/12.png')
        a.prev.hidden-xs(href='#main-slider', data-slide='prev', onclick="prev()")
          i.fa.fa-chevron-left
        |         
        a.next.hidden-xs(href='#main-slider', data-slide='next', onclick="next()")
          i.fa.fa-chevron-right

  script(src='/javascripts/main.js').
  script(src='/javascripts/jquery.isotope.min.js').
  script(src='/javascripts/jquery.prettyPhoto.js').
  script(type="text/javascript").